<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
   <title>
      {% block title %}RFP Builder Login{% endblock %}
   </title>
    <style>
      input {
        display: block;
      }
    </style>
   <link href="/static/glike.css" rel="stylesheet"
         type="text/css" />
 </head>

  <body>

  <div class="content">
    {% block maincontent %}

    {% endblock %}
  </div>

  <div>
    <footer>
      <hr/>
      <p>
        {% if not user %}
          <a href="/login">Login (and forgot password)</a>
        {% else %}
          Logged in as <span style="background-color: OldLace">{{ user.name }}</span> | <a href="/logout">Logout</a>
        {% endif %}
        |
        <a href="/">Home</a>
        |
        <a href="/signup">New user</a>
		<span style="background-color: OldLace"></span>
        |
        <a href="/authenticated">   RFPBuilder Main Page   </a> (you can see this after login)
        |
      </p>
    </footer>
  </div>


  </body>
</html>
